# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Local configuration
local.properties

# IntelliJ / Android Studio
*.iml
.idea/*
!.idea/codeStyles
!.idea/runConfigurations

# NDK / CMake
.externalNativeBuild/
.cxx/

# OS-specific
.DS_Store

# Captures
captures/

# Output
*.apk
*.ap_
*.dex
*.class
gen/
out/